.flex {
  display: flex;

  &.--align-center {
    align-items: center;
  }
}

.sidebar-types {
  background: #f6f6f9;
  width: 250px;
  border-right: 1px solid rgb(220, 220, 228);
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  &__type {
    padding: 16px 8px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    font-weight: 600;

    &--active {
      background-color: darken(#f6f6f9, 10) !important;
    }

    > span {
      > span {
        margin:  0 8px 0 0;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgb(220, 220, 228);
    }

    &:hover {
      background-color: darken(#f6f6f9, 1);
    }
  }
}

.content-manager-table {
  flex: 1;
  margin-left: 16px;
}
